<div class="container-fluid">
    <div class="header">All Blog</div>

    <div class="row" *ngIf="allBlog.length>0">
        <div *ngFor="let blog of allBlog" class="col-md-4">
            <div class="card card-primary">
                <div class="card-header">Title: {{blog.title | uppercase}}</div>
                <div class="card-block">{{blog.description}}</div>
                <div class="card-footer"> 
                    Blog modified on: {{blog.lastModified | date}} 
                    <a [routerLink]="['/blog',blog.blogId]" class = "btn btn-primary">Read</a> 
                </div>
            </div>
        </div>
    </div>

</div>